<div class="search">
  <form
    (ngSubmit)="onSubmit()"
    class="search-form"
    [ngClass]="{ 'results-shown': results.length > 0 }"
  >
    <input
      [formControl]="search"
      type="text"
      class="search-input"
      [ngClass]="{ 'results-shown': results.length > 0 }"
      placeholder="E.g. Salo, FI"
    />
    <app-button classname="btn-search" text="Search" type="submit"></app-button>
  </form>
  <app-results [results]="results" (onSubmit)="onSubmit($event)"></app-results>
</div>
