.search {
  position: relative;
  max-width: 90vw;
  width: 350px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
}

.search-form.results-shown {
  border-radius: 16px 16px 0 0;
}

.search-input {
  height: 100%;
  width: 100%;
  font-size: 1em;
  padding: 5px 0 5px 10px;
  border-radius: 50px 0 0 50px;
  border: 2px solid transparent;
  outline: none;
}

.search-input:focus {
  border: 2px solid #ec6e4c;
}

.search-input.results-shown {
  border-radius: 16px 0 0 0;
}

.search-results {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid rgba(76, 226, 183, 0.2);
}

.search-result {
  padding: 7px;
  cursor: pointer;
}

.search-result:not(:last-of-type) {
  border-bottom: 1px solid rgba(76, 226, 183, 0.2);
}

.search-result:hover, 
.search-result:focus {
  background-color: rgba(76, 226, 183, 0.2);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.4);
}
